on boot
    # tri-state key
    chown root system /proc/tri-state-key/keyCode_top
    chmod 0660 /proc/tri-state-key/keyCode_top
    chown root system /proc/tri-state-key/keyCode_middle
    chmod 0660 /proc/tri-state-key/keyCode_middle
    chown root system /proc/tri-state-key/keyCode_bottom
    chmod 0660 /proc/tri-state-key/keyCode_bottom
